body {
    width: 700px;
    margin: auto;
    margin-top: 50px;
}
.table-responsive-sm{
    border: 2px solid rgb(225, 220, 220); 
    border-radius: 10px;
}
.tabel{
    margin: 5px;
    
}
.btn{
    border-radius: 50px;
    margin-top: 5px;
    padding: 3px 15px;
}
.btn-primary{
    border-radius: 5px;
    background-color: royalblue;
}
h2{
    padding-bottom: 10px;
    color:rgb(71, 171, 238);
}
h6{
    color:grey
}
span{
    color:rgb(71, 171, 238);
}